.allvullCard {
  background: #fff;
  border-radius: 2px;
  height: 90px;
  margin: 1rem;
  margin-left: 10px;
  padding: 5px;
  position: relative;
  width: 180px;
  box-shadow: 0 3px 6px  #7F5E93, 0 3px 6px  #f1f1f1;
  text-align: left;
  margin-bottom: 0px;
  content: normal;
  font-size: 22px;
  cursor: pointer;
}
.peopleTooltip{

  padding: 5px;
  font-size: 18;
  background-color: #DA505D;
}

.allvullCard > .content {
  padding-left: 1px;
  padding-right: 1rem;
  font-size: 16px;
  color:#7F5E93;
}

.allvullCard > .content > ul {
  list-style-type: none;
}

.allvullCard > .content > ul > li {
  margin-top: 10px;
}

.allvullCard {
  overflow: auto;
}


