.logoCard{
    height: 200px;
    
}
.logocontainer{
    margin-left: 600px;
    margin-top: 5px;
}

@media (max-width:1024px){

    .logocontainer{
        margin-left: 55px;
    }
}
@media (max-width:450px){

    .logocontainer{
        margin-left: 10px;
    }
}