.logoCard{
    height: 200px;
    
}
.logocontainer{
    margin-left: 600px;
    margin-top: 5px;
}

@media (max-width:1024px){

    .logoCard{
        background-size:contain;
        margin-left: 200px;
    }
}
@media (max-width:470px){

    .logoCard{
        background-size:contain;
        margin-left: 30px;
    }
}