.detailsButtons {
  display: inline;
  border-radius: 5px;
  margin-left: 150px;
  width: 120px;
  background-color: #7F5E93;
  color: whitesmoke;
}


.detailsdiv {
  margin-left: 230px;
  position: relative;
}


@media screen and (max-width: 450px) {

  .detailsButtons {
  

    margin-left: 0px;
    
  }
  .detailsdiv {
    margin-left: 0px;
    position: relative;
  }
}
@media screen and (max-width: 1024px) {
 
  .detailsdiv {
    margin-left: 10px;
    position: relative;
  }
}
