.nameTitle1{
    text-align: center;
    color: lightcoral;
    font-weight: bold;
    font-size: 36px;

}
.profileCard{
    background-color: whitesmoke;
    margin-top: 0px;
    margin-bottom: 10px;
}

.profileDetails{
    list-style: none;

}
.proCard{

    margin:10px;
    margin-right: 50px;
}

@media screen and (max-width: 450px) {

    .proCard{
    
        margin-bottom:5px;
        margin-right: 0px;
        
      
    }
}