.allpeopleTooltip{

    margin-left: 15px;
    position: fixed;
    width: 190px;
    font-size: 18px;
   padding: 3px;
   margin-bottom: 18px;
   text-align: center;
   
}

.helpermaintitle{

    background-color:#f1f1f1;
    text-align: center;
    color: teal;
    padding: 10px;
    border-radius: 20px;
}