.userCard {
    background: #fff;
    border-radius: 2px;
    height: 200px;
    margin: 1rem;
    position: relative;
    width: 200px;
    box-shadow: 0 3px 6px teal, 0 3px 6px teal;
    text-align: left;
    margin-top: 10px;
  }

  .userCard > .content {
    padding-left: 1rem;
    padding-right: 1rem;
    font-size: 16px;
  }
  
  .userCard > .content > ul {
    list-style-type: none;
  }
  
  .userCard > .content > ul > li {
    margin-top: 10px;
  }

  .userCard {
    transition: transform .2s;
    overflow: auto;
  }
  
  .userCard:hover {
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
    position: relative;
    top:5%;
    z-index: 1;
  }

  
@media screen and (max-width: 450px) {
  .userCard {
    width: 150px;
    font-size: 14;
  }}